<div class="nav-container">
    <ul class="d-flex shop-menu">
        <li><a class="fz-8 fw-m" href="optical.html">OPTICAL</a></li>
        <li><a class="fz-8 fw-m" href="sunglasses.html">SUNGLASSES</a></li>
        <li><a class="fz-8 fw-m" href="">FUNCTIONAL</a></li>
    </ul>
</div>