.primary{
    color:#AA0601 ;
}
.sup-color{
    color: #650300;
}
.d-flex{
    display: flex;
}
.fs-i{
    font-style:italic;
}
.fw-b{
    font-weight: bold;
}
.fw-h{
    font-weight: 900;
}
.fw-m{
    font-weight: 500;
}
.fw-n{
    font-weight: 400;
}
.fz-sm{
    font-size: 14px;
}
.fz-5{
    font-size: 20px;
}
.fz-6{
    font-size: 24px;
}
.fz-9{
    font-size: 36px;
}
.fz-8{
    font-size: 32px;
}
.fz-12{
    font-size: 48px;
}
.fz-16{
    font-size: 64px;
}
.fz-10{font-size: 42px;}