.row{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-strech{
    justify-content: stretch;
}
.row-wrap{
    flex-wrap: wrap;
}
.col-3{
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-4{
    width: 22%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-8{
    width: 70%;
    padding-left: 12px;
    padding-right: 12px;
}