.p-t-b{
    padding-top: 80px;
    padding-bottom: 80px;
}
.page-p{
    padding: 11px 10px;
}
.page-n{
    padding: 12px 15px;
}
.mb-20{
    margin-bottom: 80px;
}
.mb-12{
    margin-bottom: 48px;
}
.mb-10{
    margin-bottom: 40px;
}
.mb-9{
    margin-bottom: 36px;
}
.mb-8{
    margin-bottom: 32px;
}
.mb-6{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 16px;
}
.mb-2{
    margin-bottom: 8px;
}
.mr-6{
    margin-right: 24px;
}