<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="blog-nav blog-tag-nav" style="background:#650300 ;">
        <div class="blog-nav-container d-flex">
            <ul class="d-flex fz-5">
                <li><a href="#">最新消息</a></li>
                <li><a href="#">特別企劃</a></li>
                <li><a href="#">新品上市</a></li>
                <li><a href="#">鏡框小知識</a></li>
            </ul>
            <a href="#"><span class="material-symbols-outlined">search</span></a>
        </div>
    </div>
    <div class="blog-tag">
        <div class="container p-t-b">
            <div class="d-flex ">
                <div class="left-word col-8">
                        <div class="sup-nav mb-2">
                            <a href="index.html">首頁</a><span>/</span>
                            <a href="blog.html">部落格</a><span>/</span>
                            <a href="blog-tag.html">特別企劃</a><span>/</span>
                            <a class="primary" href="#">情人特別企劃</a>
                        </div>
                        <div class="tag mb-2">
                            <ul class="primary fz-6 d-flex">
                                <li>#special</li>
                                <li>#event</li>
                            </ul>
                        </div>
                        <div class="h1 mb-4">
                            <h1 class="fz-12">情人特別企劃</h1>
                            <h2 class="fz-6 fw-m">2020 Valentine’s Special</h2>
                        </div>
                        <div class="card mb-10">
                            <img class="mb-2" src="/assets/images/blogpage-1.png" alt="企劃圖片1">
                            <p class="fw-n p1">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款<br>式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            <p class="fw-n p2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="card mb-10">
                            <img class="mb-2" src="/assets/images/blogpage-2.png" alt="企劃圖片">
                            <p class="fw-n p1">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款<br>式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            <p class="fw-n p2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="card mb-10">
                            <img class="mb-2" src="/assets/images/blogpage-3.png" alt="企劃圖片3">
                            <p class="fw-n p1">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款<br>式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            <p class="fw-n p2">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                        </div>
                        <div class="card mb-10">
                            <img class="mb-2" src="/assets/images/blogpage-4.png" alt="企劃圖片4">
                            <p class="fw-n">2/14(五)-2/20(日)<br> 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br> 期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元<br> 濾藍光鏡片折500元<br> 快快帶上另一半 <br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                        </div>
                </div>
                <div class="right-tag col-3">
                        <h3 class="primary fz-8 fw-b d-flex"><span class="material-symbols-outlined">
                            label
                            </span>TAGS</h3>
                        <a href="#" class="primary fz-6 fw-b mr-6">#special</a>
                        <a href="#" class="primary fz-6 fw-b">#sale</a><br>
                        <a href="#" class="primary fz-6 fw-b mr-6">#new_item</a><br class="br1">
                        <a href="#" class="primary fz-6 fw-b">#interview</a><br>
                        <a href="#" class="primary fz-6 fw-b mr-6">#trivia</a>
                        <a href="#" class="primary fz-6 fw-b">#news</a><br>
                        <a href="#" class="primary fz-6 fw-b">#event</a>
                </div>
            </div>
            <div class="link">
                <span class="fw-b">Share</span>
                <a href="#"><img src="/assets/images/logo-facebook.png" alt=""></a>
                <a href="#"><img src="/assets/images/logo-instagram.png" alt=""></a>
            </div>
            <div class="row">
                <div class="page d-flex">
                    <a class="d-flex" href=""><span class="material-symbols-outlined">
                        arrow_back
                        </span>上一篇：街頭潮人訪問 1</a>
                    <a class="d-flex" href="">下一篇：街頭潮人訪問2<span class="material-symbols-outlined">
                        arrow_forward
                        </span> </a>
                </div>
            </div>
        </div>

    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>